<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BatchMapper">

    <insert id="batchInsert" parameterType="com.example.model.Batch">
        insert into batch_table (id, name, phone) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name},#{item.phone})
        </foreach>
    </insert>

</mapper>
