<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <sql id="BASE_TABLE">user</sql>

    <select id="selectPasswordByUserNameSecond" parameterType="com.example.request.SelectPasswordRequestVo"
            resultType="String">
        SELECT password FROM
        <include refid="BASE_TABLE"/>
        WHERE name = #{name}
        <if test="phone != null and phone != ''">
            and phone = #{phone}
        </if>
    </select>

    <resultMap id="map" type="com.example.model.User">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="salary" property="salary"></result>
        <result column="status" property="status"></result>
        <result column="phone" property="phone"></result>
        <result column="password" property="password"></result>
    </resultMap>

    <select id="select" resultMap="map">
        select id, name, salary, status, phone, password from user
    </select>

</mapper>
